<div class="card mb-3" auto-contraste>
  <div class="card-header" auto-contraste-destaque altera-fonte>
    <h4>Relatório de Funcionários Ativos</h4>
  </div>
  <div class="card-body">
      <div class="form-row d-flex justify-content-center">
          <div class="form-group col-md-3">
            <div class="input-group">
                <label class="mt-2 mr-1"auto-contraste altera-fonte>Tipo</label>
                <select class="form-control" auto-contraste altera-fonte [(ngModel)]="filtroTipo">
                  <option *ngFor="let tipoColaborador of comboService.tiposColaborador; let i = index"
                      [value]="tipoColaborador.id">
                      {{tipoColaborador.descricao.replace("Selecione","Todos")}}
                  </option>
              </select>
            </div>
          </div>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <div class="form-group">
              <label auto-contraste altera-fonte class="form-control-plaintext">Período De</label>
          </div>
          <div class="form-group col-md-1">
            <input id="dataInicio" type="text" class="form-control" [(ngModel)]="filtroDataInicio" auto-contraste
            mask="00/00/0000" [dropSpecialCharacters]="false" placeholder="Data Inicío" />
          </div>
          <div class="form-group">
            <label auto-contraste altera-fonte class="form-control-plaintext">Até</label>
          </div>
          <div class="form-group col-md-1">
            <input class="form-control" id="dataFim" type="text" [(ngModel)]="filtroDataFim" auto-contraste
            mask="00/00/0000" [dropSpecialCharacters]="false" placeholder="Data Fim" />
          </div>
          <div class="form-group col-md-5">
            <button auto-contraste-destaque altera-fonte class="btn btn-primary ml-3" (click)="search()" style="display: none;">
                <fa-icon class="imgBtn" icon="search"></fa-icon>&nbsp;Consultar
            </button>
            <button auto-contraste-destaque altera-fonte class="btn btn-info ml-3" (click)="downloadPdfExcel('pdf')">
                <fa-icon class="imgBtn" icon="print"></fa-icon>&nbsp;Imprimir
            </button>
            <button auto-contraste-destaque altera-fonte class="btn btn-info ml-3" (click)="downloadPdfExcel('xls')">
                <fa-icon class="imgBtn" icon="download"></fa-icon>&nbsp;Exportar
            </button>
        </div>
      </div>
  </div>
</div>
<div class="table-responsive-md" *ngIf="funcionariosAtivos">
  <table class="table table-striped">
      <thead class="thead-light" >
          <tr>
              <th  auto-contraste-destaque altera-fonte class="w-20" scope="col-4" (click)="sort('nomeCompleto')">Nome Completo&nbsp;<fa-icon icon="sort"></fa-icon>
              </th>
              <th auto-contraste-destaque altera-fonte class="w-40" scope="col-2" (click)="sort('cpf')">CPF&nbsp;<fa-icon icon="sort"></fa-icon>
              </th>
              <th auto-contraste-destaque altera-fonte class="w-40" scope="col-4" (click)="sort('setor')">Setor&nbsp;<fa-icon icon="sort"></fa-icon>
              </th>
              <th auto-contraste-destaque altera-fonte class="w-40" scope="col-4" (click)="sort('emailPrincipal')">E-mail Principal&nbsp;<fa-icon icon="sort"></fa-icon>
              </th>
              <th auto-contraste-destaque altera-fonte class="w-40" scope="col-4" (click)="sort('telefonePrincipal')">Telefone Principal&nbsp;<fa-icon icon="sort"></fa-icon>
              </th>
              <th auto-contraste-destaque altera-fonte class="w-40" scope="col-4" (click)="sort('cargo')">Cargo&nbsp;<fa-icon icon="sort"></fa-icon>
              </th>
              <th auto-contraste-destaque altera-fonte class="w-40" scope="col-4" (click)="sort('matricula')">Matrícula&nbsp;<fa-icon icon="sort"></fa-icon>
              </th>
              <th auto-contraste-destaque altera-fonte class="w-40" scope="col-4" (click)="sort('cboCargo')">CBO Cargo&nbsp;<fa-icon icon="sort"></fa-icon>
              </th>
              <th auto-contraste-destaque altera-fonte class="w-40" scope="col-4" (click)="sort('dataInicio')">data Início&nbsp;<fa-icon icon="sort"></fa-icon>
              </th>
              <th auto-contraste-destaque altera-fonte class="w-40" scope="col-4" (click)="sort('grauInstrucao')">Grau de Instrução&nbsp;<fa-icon icon="sort"></fa-icon>
              </th>
              <th auto-contraste-destaque altera-fonte class="w-40" scope="col-4" (click)="sort('curso')">Curso&nbsp;<fa-icon icon="sort"></fa-icon>
              </th>
          </tr>
      </thead>
      <tbody auto-contraste altera-fonte >
          <tr *ngIf="funcionariosAtivos.length == 0">
              <td colspan="12" class="bg-secondary text-center text-white font-weight-bold">
                  <span>Não existe registros com os dados informado</span>
              </td>
          </tr>
          <tr *ngFor="let func of  funcionariosAtivos | orderBy:key: desc  | paginate: config">
              <td>{{func.nomeCompleto }}</td>
              <td>{{func.cpf }}</td>
              <td>{{func.setor }}</td>
              <td>{{func.emailPrincipal }}</td>
              <td>{{func.telefonePrincipal }}</td>
              <td>{{func.cargo }}</td>
              <td>{{func.matricula }}</td>
              <td>{{func.cboCargo }}</td>
              <td>{{func.dataInicio }}</td>
              <td>{{func.grauInstrucao }}</td>
              <td>{{func.curso }}</td>
          </tr>
          <tr *ngIf="funcionariosAtivos.length != 0">
              <td colspan="12">
                  <pagination-template #p="paginationApi" [id]="config.id" (pageChange)="onPageChange($event)">
                      <ul class="pagination d-flex justify-content-center">
                          <li class="page-item" [class.disabled]="p.isFirstPage()">
                              <a auto-contraste-destaque class="page-link page-link-cursor" (click)="p.previous()">
                                  <fa-icon icon="arrow-circle-left"></fa-icon>
                              </a>
                          </li>
                          <li class="page-item" *ngFor="let page of p.pages"
                              [class.active]="p.getCurrent() === page.value">
                              <a auto-contraste-destaque (click)="p.setCurrent(page.value)"
                                  *ngIf="p.getCurrent() !== page.value" class="page-link page-link-cursor">{{ page.label }}</a>
                              <div *ngIf="p.getCurrent() === page.value">
                                  <a auto-contraste-destaque class="page-link  page-link-cursor active">{{ page.label }}</a>
                              </div>
                          </li>
                          <li class="page-item" [class.disabled]="p.isLastPage()">
                              <a auto-contraste-destaque class="page-link  page-link-cursor" (click)="p.next()">
                                  <fa-icon icon="arrow-circle-right"></fa-icon>
                              </a>
                          </li>
                      </ul>
                  </pagination-template>
              </td>
          </tr>
      </tbody>
  </table>
</div>
